geco-project-widget (){
  geco project -z | anyframe-action-put
}
zle -N geco-project-widget
bindkey '^gp' geco-project-widget

geco-ssh-widget (){
  geco ssh -z | anyframe-action-put
}
zle -N geco-ssh-widget
bindkey '^gs' geco-ssh-widget
